<h1 id="title">Football Fan</h1>
<img role="logo" id="logo" src="assets/logo.png"/>
<nav class="nav">
    <div id="menu">
        <h2>MENU</h2>
    </div>
    <div id="toggle-nav">
        <div class="toggle-nav" ng-click="toggleNav()"></div>
        <ul class="menu" ng-show="collapse">
            <li><a ui-sref="home">Home</a></li>
            <li><a ui-sref="teams">Teams</a></li>
            <li><a ui-sref="results">Score Board</a></li>
            <li><a ui-sref="fanZone">Fan Zone</a></li>
            <li><a ui-sref="under_construction.html">News</a></li>
        </ul>
    </div>
</nav>