.players{
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	padding-top:5%;
	padding-bottom:5%;
	margin:0 auto;
	width:80%;
}
.players-container{
	background-color:white;
}
.singlePlayer{
	width:30%;
	padding:1%;
	background-color:#eaeaea;
	margin-bottom:1%;
}
.bio{
	white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis;

}
.bio:hover{
    cursor: pointer;
    overflow: visible;
    position: absolute;
    background-color: rgb(117, 162, 255);
    width: 30%;
    height: 60%;
    white-space: normal;
    padding: 2%;
}
